body{
    background-color: greenyellow;
}

h1{
    font-family: 'Akshar', sans-serif;
    color: darkblue;
    background-color: cornsilk;
}

#show_sketch{
    float: right;
}

#score{
    font-size: 20px;
    font-family: 'Akshar', sans-serif;
    margin-left: 5px;
}

#timer{
    float: right;
    font-size: 20px;
    font-family: 'Akshar', sans-serif;
    margin-left: 5px;
    
}

p{
    font-size: 25px;
    font-family: 'Akshar', sans-serif;
    color: black;
}

#sketch_to_be_draw{
    color:red; 
}
